In [31]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
import time

# Initialize the WebDriver
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

try:
    # Navigate to the webpage
    driver.get('https://josaa.admissions.nic.in/applicant/SeatAllotmentResult/CurrentORCR.aspx')
    
    # Wait for the Chosen dropdown to be clickable
    wait = WebDriverWait(driver, 5)
    
    #1 Click on the Chosen dropdown to open it
    chosen_dropdown = wait.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_ContentPlaceHolder1_ddlroundno_chosen .chosen-single')))
    chosen_dropdown.click()
    
    # Select the option by visible text
    option = wait.until(EC.element_to_be_clickable((By.XPATH, '//ul[@class="chosen-results"]//li[text()="5"]')))
    option.click()

    wait = WebDriverWait(driver, 5)
    
    #2 Click on the Chosen dropdown to open it
    chosen_dropdown = wait.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_ContentPlaceHolder1_ddlInstype_chosen .chosen-single')))
    chosen_dropdown.click()
    
    # Select the option by visible text
    option_text = 'Indian Institute of Technology'  # Replace with the desired option text
    option = wait.until(EC.element_to_be_clickable((By.XPATH, f'//ul[@class="chosen-results"]//li[text()="{option_text}"]')))
    option.click()

    wait = WebDriverWait(driver, 10)
    
    # Click on the Chosen dropdown to open it
    chosen_dropdown = wait.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_ContentPlaceHolder1_ddlInstitute_chosen .chosen-single')))
    chosen_dropdown.click()
    
    # Wait for the options to be present
    option_text = 'ALL'  # Replace with the desired option text
    option = wait.until(EC.element_to_be_clickable((By.XPATH, f'//ul[@class="chosen-results"]//li[text()="{option_text}"]')))
    option.click()

    wait = WebDriverWait(driver, 10)
    
    # Click on the Chosen dropdown to open it
    chosen_dropdown = wait.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_ContentPlaceHolder1_ddlBranch_chosen .chosen-single')))
    chosen_dropdown.click()
    
    # Wait for the options to be present
    option_text = 'ALL'  # Replace with the desired option text
    option = wait.until(EC.element_to_be_clickable((By.XPATH, f'//ul[@class="chosen-results"]//li[text()="{option_text}"]')))
    option.click()


    wait = WebDriverWait(driver, 10)
    
    # Click on the Chosen dropdown to open it
    chosen_dropdown = wait.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_ContentPlaceHolder1_ddlSeattype_chosen .chosen-single')))
    chosen_dropdown.click()
    
    # Wait for the options to be present
    option_text = 'ALL'  # Replace with the desired option text
    option = wait.until(EC.element_to_be_clickable((By.XPATH, f'//ul[@class="chosen-results"]//li[text()="{option_text}"]')))
    option.click()

    submit_button = driver.find_element(By.ID, 'ctl00_ContentPlaceHolder1_btnSubmit')
    submit_button.click()

    table_html = driver.find_element(By.TAG_NAME, 'table').get_attribute('outerHTML')
    table = pd.read_html(table_html)[0]

    # Display the extracted table
    print(table.head())
    # Add any additional actions or waits as necessary
    time.sleep(5)

    
finally:
    driver.quit()

C:\Users\Haribhajan\AppData\Local\Temp\ipykernel_53496\561130750.py:76: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table = pd.read_html(table_html)[0]

                                    Institute  \
0  Indian Institute of Technology Bhubaneswar
1  Indian Institute of Technology Bhubaneswar
2  Indian Institute of Technology Bhubaneswar
3  Indian Institute of Technology Bhubaneswar
4  Indian Institute of Technology Bhubaneswar

                               Academic Program Name Quota Seat Type  \
0  Civil Engineering (4 Years, Bachelor of Techno...    AI      OPEN
1  Civil Engineering (4 Years, Bachelor of Techno...    AI      OPEN
2  Civil Engineering (4 Years, Bachelor of Techno...    AI       EWS
3  Civil Engineering (4 Years, Bachelor of Techno...    AI       EWS
4  Civil Engineering (4 Years, Bachelor of Techno...    AI   OBC-NCL

                                  Gender Opening Rank Closing Rank
0                         Gender-Neutral         9106        14782
1  Female-only (including Supernumerary)        18286        23024
2                         Gender-Neutral         2062         2267
3  Female-only (including Supernumerary)         3638         4265
4                         Gender-Neutral         4115         5231

In [32]:
table

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,9106,14782
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),18286,23024
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,2062,2267
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3638,4265
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,4115,5231
...,...,...,...,...,...,...,...
3023,Indian Institute of Technology Dharwad,"Mechanical Engineering (4 Years, Bachelor of T...",AI,OBC-NCL,Female-only (including Supernumerary),7628,9014
3024,Indian Institute of Technology Dharwad,"Mechanical Engineering (4 Years, Bachelor of T...",AI,SC,Gender-Neutral,1327,2629
3025,Indian Institute of Technology Dharwad,"Mechanical Engineering (4 Years, Bachelor of T...",AI,SC,Female-only (including Supernumerary),4302,4303
3026,Indian Institute of Technology Dharwad,"Mechanical Engineering (4 Years, Bachelor of T...",AI,ST,Gender-Neutral,664,1213
3027,Indian Institute of Technology Dharwad,"Mechanical Engineering (4 Years, Bachelor of T...",AI,ST,Female-only (including Supernumerary),1687,1687